@import url("https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100vw;
  height: 100vh;
}
.responsive-container {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available; /* fills entire height of body */
}
nav {
  max-width: 100%;
  min-height: 70px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
}
nav a {
    padding: 0;
}
nav ul {
  list-style: none;
  font-family: "Playwrite CU", cursive;
}
nav >  ul > li {
    font-size: 1rem;
}
header {
  max-width: 100%;
  min-height: calc(85vh - 90px);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(162, 15, 172, 0.9668242296918768) 35%,
    rgba(231, 162, 242, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 50px 0;
  flex: 1;
}

.header-image {
  flex-basis: 40%;
  margin-top: -100px;
}
.header-image img {
  width: 100%;
  height: 100%;
  display: block;
}
.header-text {
  flex-basis: 60%;
  margin-top: -100px;
}
h1 {
  font-size: 55px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  margin:0 0 0 30px;
}
.header-text p {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding: 20px 0 10px;
  margin-left: 30px;
}

input {
  width: 95%;
  max-width: 500px;
  padding: 10px;
  border: none;
  border-radius: 17px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: grey;
  display: block;
  margin: 20px;
}
input:focus {
  outline: inset;
}
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  color: white;
  background-color: #000;
  padding: 10px 20px;
  width: 150px;
  border-radius: 5px;
  margin-left: 25px;
}

button:hover {
  background-color: rgba(74, 39, 77, 0.967);
  border: none;
  border-radius: 16px;
}

button:active {
  background-color: rgb(165, 164, 164);
}
.spinner {
  display: none;
  margin-left: 10px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
section {
  max-width: 100%;
  min-height: calc(85vh - 90px);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(162, 15, 172, 0.9668242296918768) 35%,
    rgba(231, 162, 242, 1) 100%
  );
  padding: 80px 100px 0;
}
section h1 {
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 30px;
}
section > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  padding: 10px 30px;
}
.btn-git {
  color: #fff;
  background-color: #000;
  margin-left: 35px;
}
.btn {
  background-color: #fff;
  color: #000;
}
.btn-contact {
  color: #fff;
}
section h2 {
  font-size: 38px;
  font-weight: 400;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 10px;
}
section p {
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 25px;
  width: 75%;
}
section small {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
}
section .avatar-wrapper {
  width: 50%;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
}
section .avatar-wrapper img {
  width: 100%;
  height: 100%;
}

/*------------ Responsive design  ------------*/
@media screen and (max-width: 768px){
    .responsive-container {
        height: 100%;
    }
    nav {
        padding: 18px 20px;
    }
    header {
        display: flex;
        flex-direction: column;
        padding: 0 40px;
        height: 100%;
    }
    .header-text, .header-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-text {
        margin: 0;
        text-align: center;
        padding: 0;
    }
    .header-image {
        margin: 0;
    }
    .header-text h1 {
        margin: 0;
        font-size: 45px;
    }
    .header-text p {
        margin: 0 0 14px 0;
        font-size: 18px;
    }
    input {
        width: 90%;
        margin: 20px auto;
    }
    button {
        display: inline-block;
        width: 50%;
        margin-inline: auto;
    }
    .header-image img {
        width: auto;
        height: auto;
        margin-inline: auto ;
    }
}
@media screen and (max-width: 530px) {
    .header-image img {
        width: 30vh;
    }
}
@media screen and (max-width: 425px) {
    .header-image {
        display: none;
    }
    header {
        display: grid;
        place-items: center;
    }
    .header-text {
        padding: 0;
    }
    nav {
        padding: 0 20px;
    }
    nav img {
        width: 50px;
        height: 50px;
    }
    nav >  ul > li {
        font-size: 0.8rem;
    }
    header {
        padding: 0 30px;
    }
    .header-text h1 {
        font-size: 36px;
    }
    .header-text p {
        font-size: 16px;
    }
    button {
        width: 90%;
    }
}